.messagebox-background {
	position:fixed;
	margin:0; padding:0;
	top:0; left:0;
	width:100%; height:100%;
	z-index:999;
}
.messagebox-dialog {
	position:fixed;
	top:0; left:0;
	margin:0; padding:0;
	z-index:9999;
	background:#FFF;
	border-radius:3px;
	border:solid 1px #e2e2e2;
	overflow:hidden;
}
.messagebox-content {
	min-width:350px; max-width:450px;
	position:relative; display:block;
}
.messagebox-content > h1 {
	position:relative; display:block;
	font:15px Helvetica; color:#585858;
	font-weight:bold; background:#eee;
	margin:0; padding:12px 10px;
	border-bottom:1px solid #d5d5d5;
}
.messagebox-content > div {
	margin:0; padding:15px;
	font:12px Helvetica;
	color:#000; line-height:20px;
	max-height:100px; overflow:auto;
}
.messagebox-buttons {
	position:relative; display:block;
	padding:10px 10px; margin:0 10px;
	border-top: 1px solid #ddd;
}
.messagebox-buttons > button {
	margin-right:10px;
}
.messagebox-timer {
	position:absolute; padding:10px;
	right:5px; top:5px; display:none;
	font:12px Helvetica; color:#585858;
	font-weight:bold;
}

.cancel,
.continue,
.danger {
	position:relative;
	display:inline-block;
	height:25px; line-height:25px;
	padding:0px 10px 0px 10px;
	font:12px Helvetica;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	outline:0; cursor:pointer;
}

.continue {
	color:#FFF;
	background: rgb(77,114,166);
	background: -moz-linear-gradient(top, rgba(77,114,166,1) 0%, rgba(61,90,132,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,114,166,1)), color-stop(100%,rgba(61,90,132,1)));
	background: -webkit-linear-gradient(top, rgba(77,114,166,1) 0%,rgba(61,90,132,1) 100%);
	background: -o-linear-gradient(top, rgba(77,114,166,1) 0%,rgba(61,90,132,1) 100%);
	background: -ms-linear-gradient(top, rgba(77,114,166,1) 0%,rgba(61,90,132,1) 100%);
	background: linear-gradient(to bottom, rgba(77,114,166,1) 0%,rgba(61,90,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d72a6', endColorstr='#3d5a84',GradientType=0 );
	border: 1px solid #2d4261;
}
.continue:hover {
	background: rgb(77,114,166);
	background: -moz-linear-gradient(top,  rgba(77,114,166,1) 1%, rgba(40,74,122,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(77,114,166,1)), color-stop(100%,rgba(40,74,122,1)));
	background: -webkit-linear-gradient(top,  rgba(77,114,166,1) 1%,rgba(40,74,122,1) 100%);
	background: -o-linear-gradient(top,  rgba(77,114,166,1) 1%,rgba(40,74,122,1) 100%);
	background: -ms-linear-gradient(top,  rgba(77,114,166,1) 1%,rgba(40,74,122,1) 100%);
	background: linear-gradient(to bottom,  rgba(77,114,166,1) 1%,rgba(40,74,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d72a6', endColorstr='#284a7a',GradientType=0 );
}
.continue:active {
	background: rgb(77,114,166);
	background: -moz-linear-gradient(top,  rgba(77,114,166,1) 1%, rgba(85,116,160,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(77,114,166,1)), color-stop(100%,rgba(85,116,160,1)));
	background: -webkit-linear-gradient(top,  rgba(77,114,166,1) 1%,rgba(85,116,160,1) 100%);
	background: -o-linear-gradient(top,  rgba(77,114,166,1) 1%,rgba(85,116,160,1) 100%);
	background: -ms-linear-gradient(top,  rgba(77,114,166,1) 1%,rgba(85,116,160,1) 100%);
	background: linear-gradient(to bottom,  rgba(77,114,166,1) 1%,rgba(85,116,160,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d72a6', endColorstr='#5574a0',GradientType=0 );
}


.danger {
	color:#FFF;
	background: rgb(224,45,81);
	background: -moz-linear-gradient(top,  rgba(224,45,81,1) 0%, rgba(160,27,49,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,45,81,1)), color-stop(100%,rgba(160,27,49,1)));
	background: -webkit-linear-gradient(top,  rgba(224,45,81,1) 0%,rgba(160,27,49,1) 100%);
	background: -o-linear-gradient(top,  rgba(224,45,81,1) 0%,rgba(160,27,49,1) 100%);
	background: -ms-linear-gradient(top,  rgba(224,45,81,1) 0%,rgba(160,27,49,1) 100%);
	background: linear-gradient(to bottom,  rgba(224,45,81,1) 0%,rgba(160,27,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e02d51', endColorstr='#a01b31',GradientType=0 );
	border: 1px solid #B11029;
}
.danger:hover {
	background: rgb(224,45,81);
	background: -moz-linear-gradient(top,  rgba(224,45,81,1) 0%, rgba(144,20,41,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,45,81,1)), color-stop(100%,rgba(144,20,41,1)));
	background: -webkit-linear-gradient(top,  rgba(224,45,81,1) 0%,rgba(144,20,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(224,45,81,1) 0%,rgba(144,20,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(224,45,81,1) 0%,rgba(144,20,41,1) 100%);
	background: linear-gradient(to bottom,  rgba(224,45,81,1) 0%,rgba(144,20,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e02d51', endColorstr='#901429',GradientType=0 );
}
.danger:active {
	background: rgb(224,45,81);
	background: -moz-linear-gradient(top,  rgba(224,45,81,1) 0%, rgba(185,43,67,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,45,81,1)), color-stop(100%,rgba(185,43,67,1)));
	background: -webkit-linear-gradient(top,  rgba(224,45,81,1) 0%,rgba(185,43,67,1) 100%);
	background: -o-linear-gradient(top,  rgba(224,45,81,1) 0%,rgba(185,43,67,1) 100%);
	background: -ms-linear-gradient(top,  rgba(224,45,81,1) 0%,rgba(185,43,67,1) 100%);
	background: linear-gradient(to bottom,  rgba(224,45,81,1) 0%,rgba(185,43,67,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e02d51', endColorstr='#b92b43',GradientType=0 );
}


.cancel {
	color:#000;
	background: rgb(255,204,26);
	background: -moz-linear-gradient(top,  rgba(255,204,26,1) 0%, rgba(230,178,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,204,26,1)), color-stop(100%,rgba(230,178,0,1)));
	background: -webkit-linear-gradient(top,  rgba(255,204,26,1) 0%,rgba(230,178,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,204,26,1) 0%,rgba(230,178,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,204,26,1) 0%,rgba(230,178,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,204,26,1) 0%,rgba(230,178,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc1a', endColorstr='#e6b200',GradientType=0 );
	border: 1px solid #b38b00;
}
.cancel:hover {
	background: rgb(255,204,26);
	background: -moz-linear-gradient(top,  rgba(255,204,26,1) 0%, rgba(218,168,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,204,26,1)), color-stop(100%,rgba(218,168,0,1)));
	background: -webkit-linear-gradient(top,  rgba(255,204,26,1) 0%,rgba(218,168,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,204,26,1) 0%,rgba(218,168,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,204,26,1) 0%,rgba(218,168,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,204,26,1) 0%,rgba(218,168,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc1a', endColorstr='#daa800',GradientType=0 );
}
.cancel:active {
	background: rgb(255,204,26);
	background: -moz-linear-gradient(top,  rgba(255,204,26,1) 0%, rgba(235,188,30,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,204,26,1)), color-stop(100%,rgba(235,188,30,1)));
	background: -webkit-linear-gradient(top,  rgba(255,204,26,1) 0%,rgba(235,188,30,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,204,26,1) 0%,rgba(235,188,30,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,204,26,1) 0%,rgba(235,188,30,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,204,26,1) 0%,rgba(235,188,30,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc1a', endColorstr='#ebbc1e',GradientType=0 );
}
